@import '../assets/colors';

#page-title {
  text-align: center;
  color: $white;
  background-color: $blue;
  padding: 10px 0;
  border-bottom: 2px solid $gray;

  h1 {
    margin: 0 30px;
    font-size: 34px;
    width: 250px;
    display: inline-block;
  }
}

@media screen and (max-width: 979px) {
  #page-title {
    h1 {
      margin: 0 25px;
      font-size: 28px;
      width: 220px;
    }
  }
}

@media screen and (max-width: 480px) {
  #page-title {
    h1 {
      margin: 0 30px;
      font-size: 22px;
      width: 175px;
    }
  }
}
