@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

html {
  font-family: 'Droid Sans';
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url('./assets/images/background.png');
}
